.stays-heading {
  font-weight: 700;
  color: #e4caca;
}

.back-to-search {
  font-size: 1.1rem;
  color: #e61e4d;
  font-weight: 600;
}

.back-to-search:hover {
  color: #e61e4d;
}

.roomsContainer{
 display: grid;
 grid-template-columns: 1fr;
 place-items: center;
}

@media (min-width:720px) {
  .roomsContainer{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width:1024px) {
  .roomsContainer{
    grid-template-columns: repeat(3,1fr);
  }
}